################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1 - DataTypes/bin/Debug/netcoreapp3.1
